@{
    ViewBag.Title = "Apie";
}
<h2>@ViewBag.Title</h2>

<h5>Informacinių sistemų pagrindų semestro projektas.</h5>
<p>Darbą atliko:
    <ul>
        <li>Dainius Daukševičius, IFA-5 gr.</li>
        <li>Donatas Gorban, IFF-5/3 gr.</li>
        <li>Mindaugas Serdcevas, IFF-5/3 gr.</li>
    </ul>
</p>
