
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<p>@ViewBag.Error</p>
<form method="post">
    <h3>Papildoma informacija</h3>
    <input type="text" name="Name" placeholder="Vardas" /><br />
    <input type="text" name="LastName" placeholder="Pavardė" /><br />
    <input type="text" name="Address" placeholder="Adresas" /><br />
    <input type="text" name="Phone" placeholder="Telefono numeris" /><br />
    <input type="text" name="ZipCode" placeholder="Pašto kodas" /><br />
    <input type="submit" />
</form>

