<div class="navbar-collapse collapse" style="padding-bottom:15px">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Product", "Product", "Product")</li>
        <li>@Html.ActionLink("Category", "Category", "Product")</li>
        <li>@Html.ActionLink("Manufacturers", "Manufacturer", "Product")</li>
    </ul>
</div>

