@{
    ViewBag.Title = "AdminMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administravimo panelė</h2>

<ul>
    <li>@Html.ActionLink("Darbuotojų sąrašas", "EmployeeList", "Admin")</li>

</ul>